body {
  background-color: #fd9939;
  color: white;
  letter-spacing: .6px;
  font-weight: 400;
  font-family: helvetica;
}

.center {
  text-align: center;
}

#nav-header {
  background-color: rgba(230, 123, 0, 0.5); 
  font-size: 34px;
  position: fixed;
  width: 100%;
  z-index: 1;
  padding-bottom: 15px;
  padding-top: 10px;
}

#nav-header a {
  font-size: 18px;
  color: white; 
  padding: 0 7px;
}

.right {
text-align: right;

}


/* Visited links under #nav-header */
#nav-header a, a:visited {
  text-decoration: none;
}

#hero img {
  width: 100%;

}
#hero {

}
#main-container {
  background-color: #fd9939;
}

#logo-image {
  width: 100%;
}

#headline-text {
  font-size: 40px;
  line-height: 40px;
  padding-top: 50px;
  padding-bottom: 10px;
}

#narrative-text {
  font-size: 25px;
  line-height: 30px;
  padding-top: 10px;
  padding-bottom: 50px;
}

#testimony {
  font-size: 18px;
  color: #aaaaaa;
  margin: 20px 0;
}

#customer-container {
  background-color: white;
  width: 100%;
}

.customers img {
  padding: 25px 0;
  max-width: 300px;
}

.row-spacer {
  margin-top: 25px;
}

#footer {
  
  background-color: white;
  font-size: 18px;
  color: #fd9939;
  width: 100%;
  padding: 20px;
}

#footer a {
  color: #fd9939;
  margin-left: ;
}

#footer ul {
  padding-left: 0px;

}
#footer ul li {
  list-style: none;
}
@media (min-width: 768px) {
 #mybackground {
   background-size: 50%, 25%, 25%;
   background-position: 40% 20%;
 }
}

.gallery {
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 25px;
}

/* I want to have neighboring images peek through.
   All <img> elements underneath .gallery
   are shrunk to 90% width. */
.gallery > img {
  width: 100%;
}

.gallery::-w
ebkit-scrollbar { 
  display: none; 
}

/* Apply this to all .row elements to create breathing room.*/
.spacer {
  margin-top: 25px;
}

#gallery {
  padding-top: 25px;
  padding-bottom: 25px;
}

.travel {
margin: 20px 0;
}

.travel img{
  max-width: 300px;
  border: 4px solid white;
  margin: 40px 0;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
